.pf__resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20rem;
}

.pf__resume-card {
    width: 750px;
    height: 400px;
    background-color: rgba(34, 40, 49, 0.85);
    border-radius: 8px;
    z-index: 1;
 }
 
 .pf__resume-tools {
    display: flex;
    align-items: center;
    padding: 9px;
 }
 
 .pf__resume-circle {
    padding: 0 4px;
 }
 
 .pf__resume-box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
 }
 
 .pf__resume-circle_red {
    background-color: #ff605c;
 }
 
 .pf__resume-circle_yellow {
    background-color: #ffbd44;
 }
 
 .pf__resume-circle_green {
    background-color: #00ca4e;
 }
 
 .pf__resume-card_content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
 }

 .pf__resume-card_content_inner {
    display: flex;
    flex-direction: column;
    font-family: var(--font-roboto);
    color: var(--color-light);
    padding-left: 15px;
    font-size: 15px;
    font-weight: 300;

    margin-right: 3rem;
 }
.pf__resume-card_content-title {
    color: #ffbd44;
}

@media screen and (max-width: 800px) {
  .pf__resume-card {
      width: 550px;
      height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .pf__resume-card {
      width: 400px;
      height: 500px;
  }
}

@media screen and (max-width: 450px) {
  .pf__resume-card {
      width: 325px;
      height: 550px;
  }
}