/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@300;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans:wght@300;400;500;600;700;800&family=Rampart+One&family=Roboto+Mono:wght@300;500;700&display=swap');

:root {
  --font-opensans: 'Open Sans', sans-serif;
  --font-roboto: 'Roboto Mono', monospace;
  --font-fancy: 'Fredericka the Great', cursive;

  --color-light: #EEEEEE;
  --color-dark: #222831;
  --color-blue: #247bae;
}


